
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.1rem;
}.first-U9w {
  width: 100%;
  height: 82.3rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #f6f8fc;

  .background-dHj {
    height: 123.7rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 172rem;

    .auto-group-gwjo-A2m {
      width: 50rem;
      height: 66.1rem;
      position: relative;
      flex-shrink: 0;

      .mesa-de-trabajo-1-1-tDf {
        top: 16.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 50rem;
        height: 50rem;
        position: absolute;
        left: 0;
      }
      .rectangle-22-E2d {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1a5f73;
        width: 41.1rem;
        height: 16.4rem;
      }
      .welcome-yF7 {
        width: 24rem;
        height: 9.1rem;
        position: absolute;
        left: 5.5rem;
        top: 6.8rem;

        .welcome-76R {
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Caviar Dreams, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.5rem;
          font-size: 3.2rem;
        }
        .selamat-datang-di-aplilasi-smartaca-3Vs {
          font-weight: 400;
          line-height: 1.2575;
          color: #eaeaea;
          font-family: Caviar Dreams, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.3rem;
          font-size: 1.6rem;
        }
        .anda-dapat--B6H {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #eaeaea;
          font-family: Caviar Dreams, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .sign-in-with-google-h4d {
        left: 7.2rem;
        top: 43.7rem;
        white-space: nowrap;
        display: flex;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 26.6rem;
        height: 4.6rem;
        font-size: 1.6rem;
        font-family: Caviar Dreams, 'Source Sans Pro';
        line-height: 1.2575;
        align-items: center;
        justify-content: center;
        border: solid 0.2rem #46a67d;
        position: absolute;
        font-weight: 700;
        color: #46a67d;
      }
      .create-an-account-kHo {
        color: #ffffff;
        font-family: Caviar Dreams, 'Source Sans Pro';
        border-radius: 1rem;
        position: absolute;
        line-height: 1.2575;
        font-size: 1.6rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 4.6rem;
        left: 7.2rem;
        white-space: nowrap;
        background-color: #46a67d;
        justify-content: center;
        width: 26.6rem;
        top: 49.4rem;
      }
    }
    .rectangle-23-bJR {
      flex-shrink: 0;
      margin: 0rem 4.4rem 4.2rem 0rem;
      width: 41.1rem;
      height: 16.9rem;
      background-color: #5bc882;
    }
    .item-2480044-1-itq {
      height: 36.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 117.3rem;
      opacity: 0.9;
      width: 54.7rem;
    }
  }
}
