
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.1rem;
}.home-yxM {
  background-color: #f6f8fc;
  width: 100%;
  height: 82.3rem;
  overflow: hidden;
  position: relative;

  .backgraund-w8V {
    width: 41.3rem;
    height: 100%;
    position: relative;

    .backgraund-1-snq {
      height: 42.8rem;
      position: absolute;
      left: 0;
      top: 14.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 41.2rem;
    }
    .rectangle-27-1u3 {
      width: 41.3rem;
      height: 24.8rem;
      position: absolute;
      left: 0;
      top: 57.5rem;
      background-color: #5bc882;
    }
    .rectangle-27-8Ts {
      width: 41.1rem;
      height: 14.9rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #1a5f73;
    }
    .logo-2-4MX {
      top: 8.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 30.6rem;
      height: 3.9rem;
      position: absolute;
      left: 5.2rem;
    }
    .menuslider-QAV {
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.4rem 5.95rem 4.4rem 5.85rem;
      width: 30.4rem;
      height: 27.1rem;
      position: absolute;
      top: 18.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, 0.6499999762);
      left: 5.4rem;
      display: flex;
      border-radius: 4.7rem;

      .water-flow-timer-hQV {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 2.4rem;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2575;
        color: #474950;
        font-family: Caviar Dreams, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .slder-yN1 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 1.15rem;
        width: calc(100% - 2.3rem);
        height: 12.7rem;

        .auto-group-suhk-Jv5 {
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 2.6rem;
          height: 100%;
          display: flex;

          .auto-group-vkr7-RUu {
            margin: 1.1rem 1.9rem 0.7rem 0rem;
            height: calc(100% - 1.8rem);
            row-gap: 0.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-00-vCh {
              font-weight: 400;
              line-height: 1.2575;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
            }
            .item-00-crD {
              font-weight: 400;
              line-height: 1.2575;
              color: #454753;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
            }
            .item-00-kSd {
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .line-49-u4d {
            height: 0.1rem;
            background: linear-gradient(135deg, rgba(119, 121, 131, 0) 50%, #777983 50%, #777983 50%, rgba(119, 121, 131, 0) 50%);
            flex-shrink: 0;
            margin-right: 2.7rem;
            width: 0rem;
          }
          .auto-group-84gh-C3j {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.1rem 0rem 0.7rem 0rem;
            height: calc(100% - 1.8rem);
            row-gap: 0.8rem;

            .item-00-KPF {
              text-align: center;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-00-FXo {
              font-weight: 400;
              line-height: 1.2575;
              color: #444752;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
            }
            .item-00-nGq {
              font-weight: 400;
              line-height: 1.2575;
              font-family: Caviar Dreams, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
            }
          }
        }
        .line-48-513 {
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 0.1rem;
          height: 12.7rem;
          background: linear-gradient(135deg, rgba(119, 121, 131, 0) 50%, #777983 50%, #777983 50%, rgba(119, 121, 131, 0) 50%);
        }
        .auto-group-8o8v-xad {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.1rem 0rem 0.7rem 0rem;
          height: calc(100% - 1.8rem);
          row-gap: 0.8rem;
          align-items: center;

          .item-00-tUH {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            font-family: Caviar Dreams, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
          .item-00-pcq {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #444752;
            font-family: Caviar Dreams, 'Source Sans Pro';
          }
          .item-00-xDF {
            line-height: 1.2575;
            font-family: Caviar Dreams, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
      }
    }
    .menudevice-ebs {
      position: absolute;
      top: 48.3rem;
      align-items: center;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.6499999762);
      border-radius: 4.7rem;
      box-sizing: border-box;
      padding: 3.2rem 2.9rem 5rem 2.9rem;
      width: 30.4rem;
      height: 17.2rem;
      left: 5.1rem;
      display: flex;

      .device-KCD {
        font-size: 2.4rem;
        color: #777983;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.6rem 0rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Caviar Dreams, 'Source Sans Pro';
      }
      .device-EKB {
        background-color: #e6e6e6;
        border-radius: 0.7rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.7rem 0.8rem 0.6rem 1.2rem;
        width: 100%;
        display: flex;
        align-items: center;

        .image-16-Aid {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.65rem;
        }
        .nama-device-6MP {
          text-align: center;
          line-height: 1.2575;
          font-family: Caviar Dreams, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.1rem 5.95rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 700;
          color: #777983;
          flex-shrink: 0;
        }
        .polygon-2-cKj {
          height: 2.9rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.2rem;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 2.9rem;
        }
      }
    }
    .group-13-JyF {
      padding: 0.308rem 0.308rem 0.308rem 0.308rem;
      background-color: rgba(255, 255, 255, 0.6499999762);
      border-radius: 0.9rem;
      box-sizing: border-box;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 35.1rem;
      top: 2rem;

      .image-18-zLH {
        object-fit: cover;
        vertical-align: top;
        width: 3.3846rem;
        height: 3.3846rem;
      }
    }
    .group-22-WZX {
      background-color: rgba(255, 255, 255, 0.6499999762);
      padding: 1.2rem 7.6rem 1.2rem 7.2rem;
      left: 0;
      top: 75rem;
      display: flex;
      column-gap: 2.2rem;
      align-items: center;
      border-radius: 3.65rem 3.65rem 0 0;
      box-sizing: border-box;
      width: 41rem;
      height: 7.3rem;
      position: absolute;

      .auto-group-jsah-DTw {
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #a4ddba;
        border-radius: 2.45rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.7rem;

        .image-3-Nbj {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-zd9t-ta5 {
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #a4ddba;
        border-radius: 2.45rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.9rem 0.8rem 0.8rem 0.8rem;

        .image-10-EP3 {
          height: 3.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.3rem;
        }
      }
      .auto-group-tppx-KvH {
        box-sizing: border-box;
        padding: 0.8rem 0.7rem 0.7rem 0.8rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #a4ddba;
        border-radius: 2.45rem;
        flex-shrink: 0;

        .image-10-fjF {
          object-fit: cover;
          vertical-align: top;
          width: 3.4rem;
          height: 3.4rem;
        }
      }
      .auto-group-omlm-zWd {
        box-sizing: border-box;
        padding: 1.1rem 1rem 1rem 1rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #a4ddba;
        border-radius: 2.45rem;
        flex-shrink: 0;

        .image-12-7LM {
          width: 2.9rem;
          height: 2.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
}
