
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.1rem;
}.splashscreen-UBB {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 37.3rem 2.7rem 2.8rem 2.6rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #f4f4f4;

  .logo2-1-NGZ {
    margin-bottom: 26.8rem;
    width: 35.8rem;
    height: 7.7rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-82ob-HuK {
    margin: 0 8.9rem;
    width: calc(100% - 17.8rem);
    height: 7.7rem;
    position: relative;
    flex-shrink: 0;

    .from-EJm {
      font-family: Caviar Dreams, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.8rem;
      left: 7.5rem;
      top: 0;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      width: 3.1rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
    }
    .screenshot274-transformwed-removebg-previewwaifu2xartnoise0scale-1-YqF {
      width: 18rem;
      height: 6.4rem;
      position: absolute;
      left: 0;
      top: 1.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 3.2rem;
    }
  }
}
