
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.1rem;
}.vitamin-921 {
  width: 100%;
  height: 82.3rem;
  position: relative;
  overflow: hidden;
  background-color: #f6f8fc;
}
.vitamin-921 .backgraund-fFF {
  width: 41.3rem;
  height: 82.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.vitamin-921 .backgraund-fFF .backgraund-1-yWq {
  width: 41.2rem;
  height: 42.8rem;
  position: absolute;
  left: 0;
  top: 14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .rectangle-27-77F {
  width: 41.3rem;
  height: 24.8rem;
  position: absolute;
  left: 0;
  top: 57.5rem;
  background-color: #5bc882;
}
.vitamin-921 .backgraund-fFF .rectangle-27-eN5 {
  width: 41.1rem;
  height: 14.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1a5f73;
}
.vitamin-921 .backgraund-fFF .box-zB3 {
  width: 41.1rem;
  height: 82rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}
.vitamin-921 .backgraund-fFF .cycle-tnD {
  width: 16.6rem;
  height: 22.2rem;
  position: absolute;
  left: 12.2rem;
  top: 11.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.vitamin-921 .backgraund-fFF .cycle-tnD .auto-group-rhm3-bwX {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 4.6rem 4.2rem 4.2rem 4.2rem;
  width: 100%;
  box-shadow: inset 0.4rem 0.2rem 0.6rem rgba(0, 0, 0, 0.25));
  background-color: rgba(255, 255, 255, 0.6700000167);
  border-radius: 8.3rem;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .cycle-tnD .auto-group-rhm3-bwX .image-11-j29 {
  width: 8.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .cycle-tnD .vitamin-RQm {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #464851;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .submenu3-JzM {
  box-sizing: border-box;
  padding: 1.6rem 3.416rem 2.399rem 3.006rem;
  width: 35.8rem;
  height: 11.4rem;
  position: absolute;
  left: 2.7rem;
  top: 56.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(246, 248, 252, 0.6499999762);
  border-radius: 1rem;
}
.vitamin-921 .backgraund-fFF .submenu3-JzM .custom-temperature-d13 {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Caviar Dreams, 'Source Sans Pro';
  white-space: nowrap;
}
.vitamin-921 .backgraund-fFF .submenu3-JzM .slider-9k5 {
  width: 29.3779rem;
  height: 4.5007rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .submenu2-opd {
  box-sizing: border-box;
  padding: 1.6rem 14.998rem 1.5rem 14.9rem;
  width: 35.7975rem;
  height: 10.9rem;
  position: absolute;
  left: 2.7rem;
  top: 42.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(246, 248, 252, 0.6499999762);
  border-radius: 1rem;
}
.vitamin-921 .backgraund-fFF .submenu2-opd .image-7-rnu {
  margin: 0rem 0rem 1.5rem 0.1rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .submenu2-opd .p-o-w-e-r-xL9 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Caviar Dreams, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .group-16-TXo {
  box-sizing: border-box;
  padding: 0.308rem 0.308rem 0.308rem 0.308rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 35.1rem;
  top: 2rem;
  background-color: rgba(255, 255, 255, 0.6499999762);
  border-radius: 0.9rem;
}
.vitamin-921 .backgraund-fFF .group-16-TXo .image-18-ym3 {
  width: 3.3846rem;
  height: 3.3846rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .group-26-g9f {
  box-sizing: border-box;
  padding: 1.2rem 7.6rem 1.2rem 7.2rem;
  width: 41rem;
  height: 7.3rem;
  position: absolute;
  left: 0.1rem;
  top: 75rem;
  display: flex;
  column-gap: 2.2rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6499999762);
  border-radius: 3.65rem 3.65rem 0 0;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-fix3-A4q {
  box-sizing: border-box;
  padding: 0.7rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #a4ddba;
  border-radius: 2.45rem;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-fix3-A4q .image-3-uo7 {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-zfbp-CnD {
  box-sizing: border-box;
  padding: 0.9rem 0.8rem 0.8rem 0.8rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #a4ddba;
  border-radius: 2.45rem;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-zfbp-CnD .image-10-LtR {
  width: 3.3rem;
  height: 3.2rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-9dih-FkV {
  box-sizing: border-box;
  padding: 0.8rem 0.7rem 0.7rem 0.8rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #a4ddba;
  border-radius: 2.45rem;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-9dih-FkV .image-10-ZWH {
  width: 3.4rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-hbqd-4hw {
  box-sizing: border-box;
  padding: 1.1rem 1rem 1rem 1rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #5da177;
  border-radius: 2.45rem;
  flex-shrink: 0;
}
.vitamin-921 .backgraund-fFF .group-26-g9f .auto-group-hbqd-4hw .image-12-CZF {
  width: 2.9rem;
  height: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.vitamin-921 .logo-4-hF7 {
  width: 23.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 2.5rem;
  object-fit: cover;
  vertical-align: top;
}
